---
layout: default
---

<div>
  <div id="about" class="hero-area">
    <div class="inner">
      <img src="{{ 'assets/images/nir-logo.png' | relative_url }}" alt="{{ site.title }}" />
      <p>{{ site.description }}</p>
      <p>{{ site.detail }}</p>
    </div>
  </div>

  <div id="information">
    <div class="title-header">
      <h2>Information</h2>
    </div>
    <div class="contents-box">
      <dl class="dl-list">
	{% assign information = site.data.information | where: "done", false %}
	{% for item in information %}
        <div class="dl-item">
          <dt>{{ item.title }}</dt>
          <dd>{{ item.detail | newline_to_br }}</dd>
        </div>
        {% endfor %}
      </dl>
    </div>
  </div>
<div id="recent-projects">
  <div class="title-header">
    <h2>Recent Projects</h2>
  </div>
  {% for work in site.data.works limit:2 %}
  <div class="works">
    <section class="content-1">
      <h3>{{ work.title }}</h3>
      <table>
        {% for item in work.basic %}
        <tr>
          <th>{{item.label}}</th>
	  <td>
	    {% if item.value.first %} {% for v in item.value %}{{ v }}<br />
	    {% endfor %} {% else %}{{ item.value }} {% endif %}
	  </td>
	</tr>
	{% endfor %}
	<tr>
	  <th>
	    <td><a href="{{ work.youtube }}">video</a></td>
	  </th>
	</tr>
      </table>
    </section>

    <section class="content-2">
      <table>
        {% for item in work.detail %}
        <tr>
          <th>{{item.label}}</th>
          <td>
            {% if item.value.first %} {% for v in item.value %}{{ v }}<br />
            {% endfor %} {% else %}{{ item.value }} {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>

    <section class="content-3">
      <img src="{{ work.images[0] }}" alt="{{ work.title }} fig." />
    </section>

    <section class="content-4">
      <img src="{{ work.images[1] }}" alt="{{ work.title }} fig." />
    </section>
  </div>
  {% endfor %}
</div>
</div>
