<div class="works">
  <section class="content-1">
    <h3>{{ work.title }}</h3>
    <dl class="work-info">
      {% for item in work.basic %}
      <div class="work-info-row">
        <dt>{{item.label}}</dt>
        <dd>
          {% if item.value.first %} {% for v in item.value %}{{ v }}<br />
          {% endfor %} {% else %}{{ item.value }} {% endif %}
        </dd>
      </div>
      {% endfor %}
    </dl>
    {% if work.youtube %}
    <p class="work-video"><a href="{{ work.youtube }}">video</a></p>
    {% endif %}
  </section>
  
  <section class="content-2">
    <dl class="work-info">
      {% for item in work.detail %}
      <div class="work-info-row">
        <dt>{{item.label}}</dt>
        <dd>
          {% if item.value.first %} {% for v in item.value %}{{ v }}<br />
          {% endfor %} {% else %}{{ item.value }} {% endif %}
        </dd>
      </div>
      {% endfor %}
    </dl>
  </section>
  
  <section class="content-3">
    <img src="{{ work.images[0] }}" alt="{{ work.title }} fig." />
  </section>
  
  <section class="content-4">
    <img src="{{ work.images[1] }}" alt="{{ work.title }} fig." />
  </section>
</div>
