<div class="work">
  <section class="work__summary">
    <h3>{{ work.title }}</h3>
    <dl class="work-metadata">
      {% for item in work.basic %}
      <div class="work-metadata__item">
        <dt>{{ item.label }}</dt>
        <dd>
          <ul class="work-metadata__values">
            {% for value in item.value %}
            <li>{{ value }}</li>
            {% endfor %}
          </ul>
        </dd>
      </div>
      {% endfor %}
      <div class="work-metadata__item">
        <dt><span class="visually-hidden">Video</span></dt>
        <dd><a href="{{ work.youtube }}">video</a></dd>
      </div>
    </dl>
  </section>
  
  <section class="work__details">
    <dl class="work-metadata">
      {% for item in work.detail %}
      <div class="work-metadata__item">
        <dt>{{ item.label }}</dt>
        <dd>
          <ul class="work-metadata__values">
            {% for value in item.value %}
            <li>{{ value }}</li>
            {% endfor %}
          </ul>
        </dd>
      </div>
      {% endfor %}
    </dl>
  </section>
  
  <section class="work__image work__image--primary">
    <img src="{{ work.images[0] }}" alt="{{ work.title }} fig." />
  </section>
  
  <section class="work__image work__image--secondary">
    <img src="{{ work.images[1] }}" alt="{{ work.title }} fig." />
  </section>
</div>
