<article class="work">
  <div class="work__summary">
    {% assign heading_level = include.heading_level | default: 3 %}
    <h{{ heading_level }} class="work__title">{{ work.title }}</h{{ heading_level }}>
    <dl class="work-metadata">
      {% for item in work.basic %}
      <div class="work-metadata__item">
        <dt>{{ item.label }}</dt>
        <dd>
          <ul class="work-metadata__values">
            {% for value in item.value %}
            <li>{{ value }}</li>
            {% endfor %}
          </ul>
        </dd>
      </div>
      {% endfor %}
      <div class="work-metadata__item">
        <dt><span class="visually-hidden">Video</span></dt>
        <dd><a href="{{ work.youtube }}">video</a></dd>
      </div>
    </dl>
  </div>

  <div class="work__details">
    <dl class="work-metadata">
      {% for item in work.detail %}
      <div class="work-metadata__item">
        <dt>{{ item.label }}</dt>
        <dd>
          <ul class="work-metadata__values">
            {% for value in item.value %}
            <li>{{ value }}</li>
            {% endfor %}
          </ul>
        </dd>
      </div>
      {% endfor %}
    </dl>
  </div>

  <div class="work__image work__image--primary">
    <img src="{{ work.images[0] | relative_url }}" alt="{{ work.title }} fig. 1" />
  </div>

  <div class="work__image work__image--secondary">
    <img src="{{ work.images[1] | relative_url }}" alt="{{ work.title }} fig. 2" />
  </div>
</article>
